@charset "utf-8";


/*keyframes.cssの読み込み
---------------------------------------------------------------------------*/
@import url("keyframes.css");

/*全端末（PC・タブレット・スマホ）共通設定
------------------------------------------------------------------------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/
body {
	margin: 0px;
	padding: 0px;
	font-family: "Noto Sans CJK KR", sans-serif;  /* 폰트종류 "Yu Gothic"  "Noto Sans CJK KR" */
	line-height: 2;		/* 행간 조정하는 코드 */
	background: #fcf9de url(../images/bg1.png) no-repeat center top / 100%;  /* 배경 이미지 */
}

h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form,input,textarea {margin: 0px;padding: 0px;font-size: 100%;font-weight: normal;}
ul {list-style-type: none;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
table {border-collapse:collapse;font-size: 100%;border-spacing: 0;}
video {max-width: 100%;}
iframe {width: 100%;}

/*전반적인 링크 설정
---------------------------------------------------------------------------*/
a, li {
	color: #666;		/* 링크 텍스트 색상 */
	transition: 0.5s;	/*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
}

/*コンテナー（サイト全体を囲むブロック）
---------------------------------------------------------------------------*/


/* ---------------------------------------- 메뉴바 전체 ----------------------------------------*/
header {   
	overflow: auto;
	width: 180px;
	height: 100%;
	float: left;	
	position: fixed;
	transition: left 0.3s ease;
	text-align: center;
}

#logo2 {  /* 로고 버튼 (애니메이션 추가되어 있음 */
	border-style: none;  /* 버튼 주위의 선 제거 */
	background: none;    /* 버튼 배경색 제거 */
	position: fixed;
    top: 30px;           /* 버튼의 상단 여백 */
    left: 30px;          /* 버튼의 왼쪽 여백 */
    z-index: 9999;       /* 레이아웃 맨 위로 */
	transition: left 0.3s ease;
}

#logo2 :hover {
	width: 140px;
	height: 140px;
	transform: translate(-10%, -10%); /*중심으로 확대/축소 */
	transform-origin: center center; /* 중심점 지정 */
}

#menubar {
	margin-top: 90%;
	font-size: 18px;
	text-align: center;
	width: 65%;
	display: inline-block;
}

.menu-a{   /* 메뉴바 텍스트 부분 */
	text-align: center;
	border-radius: 50%;
	height: 100px;

	display: flex; /* 내부 내용을 가운데 정렬하기 위해 Flexbox 사용 */
  	align-items: center; /* 내부 내용을 세로로 가운데 정렬 */
  	justify-content: center; /* 내부 내용을 가로로 가운데 정렬 */
  	text-align: center; /* 내부 텍스트 가운데 정렬 */
}

#menubar hr {
	width: 100%;
	border-color: rgb(190, 171, 0);
	border-top: 2px;
	margin: 14px 0 14px 0;
}

/* 메뉴 하나하나 */
#menubar a {
	text-decoration: none;  /*하이퍼링크 밑줄 제거*/
	color: #383838;
}

/* 메뉴바 작은 글자 */
#menubar li span:last-child {
	display: block;
	font-size: 12px;
	color: #927f15;		/*文字色*/
}

#menubar li:hover {
	background: #fafafa;
}


/*スマホ用メニューを表示させない*/
#menubar-s {display: none;text-indent: -9999px;}
/*３本バーアイコンを表示させない*/
#menubar_hdr {display: none;}



/*mainコンテンツ
---------------------------------------------------------------------------*/
/*mainブロック*/
#main {
	animation-name: opa2;		/*keyframes.cssで使う@keyframesの指定*/
	animation-fill-mode: both;
	animation-duration: 0.3S;	/*アニメーションを実行する時間。「s」は秒の事。*/
	animation-delay: 0.5s;		/*出現するタイミング（秒後）*/
	position: relative;

	height: 100%;
	margin-left: 180px;
	padding: 230px 8% 0 8%;	
	transition: left 0.3s ease;
}
/*メインコンテンツのh2タグ設定*/
#main h2 {
	clear: both;
	color: #EEBA00;	/*文字色*/
	margin-bottom: 20px;	/*見出しの下に空けるスペース*/
	padding: 0 20px 0;	/*上、左右、下へのタグ内の余白*/
	font-size: 26px;		/*文字サイズ*/
	background: url(../images/line1.png) repeat-x left bottom / 300px;	/*下線の画像の読み込み*/
	text-align: center;	/*テキストをセンタリング*/
}
/*メインコンテンツのh3タグ設定*/
#main h3 {
	clear: both;
	color: #000000;	/*文字色*/
	font-size: 30px;		/*文字サイズ*/
}
#main h4 {
	color: #000000;
    font-size: 22px;
    line-height: normal;
}
/*mainコンテンツの段落タグ設定*/
#main p {
	color: #000000;
    font-size: 20px;
    line-height: normal;
}
/*他。微調整。*/
#main h2 + p,
#main h3 + p {
	margin-top: -10px;
}
#main section + section {
	margin-top: 50px;
}
#main hr {
	border-style: solid;
	border-color: rgb(202, 202, 202);
	border-width: 1px;
}

/*listブロック（menu.html マカロンメニューページで使っています）
---------------------------------------------------------------------------*/
/*ブロック１個あたりの設定*/
#main .list {
	overflow: hidden;position: relative;
	float: left;	/*左に回り込み*/
	width: 30%;		/*幅*/
	margin-left: 2%;
	margin-bottom: 30px;
	font-size: 10px;	/*文字サイズ*/
	text-align: center;	/*文字をセンタリング*/
}
/*画像*/
#main .list figure {
	border-radius: 50%;	/*円形にする。角丸四角形にしたいなら、ここを20pxなどにしてみる。角が尖った正方形にしたいなら、この１行を削除する。*/
	overflow: hidden;
	margin-bottom: 10px;
}
/*h4タグ*/
#main .list h4 {
	font-size: 13px;	/*文字サイズ*/
	height: 2em;		/*高さ１行分。冒頭のbody内のline-heightで「2」と指定しているので、この行の2emというのは１文字の高さの事になります。２行表示にしたいならこの行を「4em」にして下さい。*/
	overflow: hidden;	/*上のheightを超えた文字は非表示にする指定*/
}
/*段落タグ*/
#main .list p {
	padding: 0;
	height: 2em;		/*高さ１行分。上のh4と同じ内容の設定です。*/
	overflow: hidden;	/*これもh4と同じです。*/
}
/*左上に配置している価格*/
#main .list p.price {
	text-align: center;
	position: absolute;
	left: 0px;	/*listブロックに対しての左からの配置場所指定*/
	top: 0px;	/*listブロックに対しての上からの配置場所指定*/
	background: #fff;	/*背景色*/
	color: #EEBA00;		/*文字色*/
	width: 60px;		/*幅*/
	height: 60px;		/*高さ*/
	line-height: 60px;	/*行間*/
	border-radius: 50%;	/*円形にする指定*/
}

/*フッター設定
---------------------------------------------------------------------------*/
footer {
	clear: both;
	text-align: right;	/*テキストを右寄せ*/
	font-size: 12px;	/*文字サイズ*/
}
/*リンクテキスト*/
footer a {text-decoration: none;}

/*テーブル
---------------------------------------------------------------------------*/
/*テーブル１行目に入った見出し部分（※caption）*/
.ta1 caption {
	border-top: 1px solid #999;	/*上の枠線の幅、線種、色*/
	font-weight: bold;		/*太字に*/
	padding: 20px 15px;		/*上下、左右へのボックス内の余白*/
	background: #fff;	/*背景色*/
}
/*テーブル途中に見出しを使いたい場合（※tamidashi）*/
.ta1 .tamidashi {
	width: auto;
	background: #fff;	/*背景色*/
	text-align: left;		/*文字を左寄せ*/
}
/*ta1テーブルブロック設定*/
.ta1 {
	border-top: 1px solid #999;	/*テーブルの一番上の線。幅、線種、色*/
	table-layout: fixed;
	width: 100%;
	margin: 0 auto 30px;
}
.ta1, .ta1 td, .ta1 th {
	border-bottom: 1px solid #999;	/*テーブルの下線。幅、線種、色*/
	padding: 20px 15px;	/*上下、左右へのボックス内の余白*/
	word-break: break-all;
}
/*ta1の左側ボックス*/
.ta1 th {
	width: 140px;		/*幅*/
	text-align: center;	/*センタリング*/
}

/*PAGE TOP（↑）設定
---------------------------------------------------------------------------*/
/*デフォルトでは非表示に*/
body .nav-fix-pos-pagetop a {display: none;}
/*ボタンの設定*/
body.is-fixed-pagetop .nav-fix-pos-pagetop a {
	display: block;text-decoration: none;text-align: center;z-index: 99;position: fixed;
	width: 100px;		/*幅*/
	bottom: 30px;		/*下からの配置場所指定*/
	right: 1%;			/*右からの配置場所指定*/
	animation-name: opa1;	/*keyframes.cssで使う@keyframesの指定*/
	animation-duration: 1S;		/*アニメーションの実行時間*/
	animation-fill-mode: forwards;	/*アニメーションの完了後、最後のキーフレームを維持する*/
}
/*通常時の透明度。70%色を出す。*/
body.is-fixed-pagetop .nav-fix-pos-pagetop img {
	opacity: 0.7;
}
/*マウスオン時の透明度。100%色を出す。*/
body.is-fixed-pagetop .nav-fix-pos-pagetop img:hover {
	opacity: 1;
}

/*「NEW」アイコン
---------------------------------------------------------------------------*/
.newicon {
	background: #F00;	/*背景色*/
	color: #FFF;		/*文字色*/
	font-size: 70%;		/*文字サイズ*/
	line-height: 1.5;
	padding: 2px 5px;
	border-radius: 2px;
	margin: 0px 5px;
	vertical-align: text-top;
}

/*check
---------------------------------------------------------------------------*/
p.check {
	background: #ff0000;
	color:#fff;
	padding: 10px 25px !important;
	margin-bottom: 20px;
}
p.check a {color: #fff;}

/*ul.disc,olタグ
---------------------------------------------------------------------------*/
ul.disc {
	list-style: disc;
	padding: 0 20px 20px 55px;
}
ol {
	padding: 0 20px 20px 55px;
}

/*その他
---------------------------------------------------------------------------*/
.look {background: rgba(0,0,0,0.1);border: 1px solid #ccc;padding: 5px 10px;border-radius: 4px;}
.mb15,.mb1em {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}
.clear {clear: both;}
.color1, .color1 a {color: #dd1500;}
.pr {font-size: 10px;}
.wl {width: 96%;}
.ws {width: 50%;}
.c {text-align: center;}
.r {text-align: right;}
.l {text-align: left;}
img.fr {float: right;margin: 10px;}
img.fl {float: left;margin: 10px;}
.fr {float: right;}
.fl {float: left;}
.big1 {font-size: 28px;letter-spacing: 0.1em;}
.mini1 {font-size: 11px;display: inline-block;line-height: 1.5;}
.sh {display: none;}
.clearfix::after {content: "";display: block;clear: both;}
.ofh {overflow: hidden;}



/*画面幅900px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:900px){

/*全体の設定
---------------------------------------------------------------------------*/
body {
	font-size: 13px;
}

/*ヘッダー
---------------------------------------------------------------------------*/
/*ヘッダーブロック。ロゴとメニューブロックです。*/
header {
	float: none;
	position: static;
	height: auto;
}

/*h2タグ設定（ロゴの下に重なった左右にスイングする見出し）*/
header h2 {
	position: absolute;
	top: 0px;			/*上からの配置場所指定*/
	left: 60px;			/*左からの配置場所指定*/
	width: 200px;		/*幅*/
	padding: 10% 0;		/*上下、左右へのの余白*/
}

/*mainコンテンツ
---------------------------------------------------------------------------*/
#main {
	float: none;
	width: auto;
	padding-top: 45%;	/*上のブロック内の余白の再設定*/
}
/*メインコンテンツのh2タグ設定*/
#main h2 {
	font-size: 20px;		/*文字サイズ*/
}
/*メインコンテンツのh3タグ設定*/
#main h3 {
	padding-left: 0px;		/*左側余白をゼロに*/
	font-size: 18px;		/*文字サイズ*/
}
/*mainコンテンツの段落タグ設定*/
#main p {
	padding: 0px 0px 20px;	/*上、左右、下への余白*/
}

/*メインメニュー
---------------------------------------------------------------------------*/
/*スマホ用メニューブロック*/
#menubar-s {
	display: block;text-indent: inherit;
	animation-name: opa1;		/*keyframes.cssで使う@keyframesの指定*/
	animation-duration: 1S;		/*アニメーションの実行時間*/
	animation-fill-mode: both;	/*アニメーションの待機中は最初のキーフレームを維持、終了後は最後のキーフレームを維持。*/
	background: rgba(0,0,0,0.85);	/*背景色。0,0,0は黒の事で、0.85は色が85%出た状態の事。*/
	position: fixed;overflow: auto;z-index: 100;
	left: 0px;
	top: 0px;
	width: 100%;		/*幅。上のpaddingと合わせて100%になるように。*/
	height: 100%;	/*高さ。上のpaddingと合わせて100%になるように。*/
	text-align: center;	/*テキストをセンタリング*/
	font-size: 20px;
}
#menubar-s > ul {
	margin-top: 100px;	/*メニューの上側にあける余白*/
}
/*メニュー１個あたりの設定*/
#menubar-s li a {
	text-decoration: none;display: block;
	color: #fff;
	padding-bottom: 30px;
}
/*小文字の指定（最後のspanタグ）*/
#menubar-s li span:last-child {
	display: block;
	font-size: 11px;	/*文字サイズ*/
}
/*PC用メニューを非表示にする*/
#menubar {display: none;}

/*３本バーアイコン設定
---------------------------------------------------------------------------*/
/*３本バーブロック*/
#menubar_hdr {
	display: block;
	position: fixed;
	z-index: 100;
	top: 20px;	/*上からの配置場所指定*/
	right: 3%;	/*右からの配置場所指定*/
	border: 1px solid #fff;	/*枠線の幅、線種、色*/
}
/*アイコン共通設定*/
#menubar_hdr.close,
#menubar_hdr.open {
	width: 50px;	/*幅*/
	height: 50px;	/*高さ*/
	border-radius: 50%;
}
/*三本バーアイコン*/
#menubar_hdr.close {
	background: #EEBA00 url(../images/icon_menu.png) no-repeat center top/50px;
}
/*閉じるアイコン*/
#menubar_hdr.open {
	background: #EEBA00 url(../images/icon_menu.png) no-repeat center bottom/50px;
}

/*テーブル
---------------------------------------------------------------------------*/
/*テーブル内の余白の変更*/
.ta1 caption,
.ta1, .ta1 td, .ta1 th {
	padding: 5px;
}
/*ta1の左側ボックス*/
.ta1 th {
	width: 100px;
}

/*ul.disc,olタグ
---------------------------------------------------------------------------*/
ul.disc {
	padding: 0 0px 20px 25px;
}
ol {
	padding: 0 0px 20px 25px;
}

/*その他
---------------------------------------------------------------------------*/
.ws {width: 96%;}
.big1 {font-size: 18px;letter-spacing: normal;}

}



/*画面幅480px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:480px){

/*ヘッダー
---------------------------------------------------------------------------*/
/*h2タグ設定（ロゴの下に重なった左右にスイングする見出し）*/
header h2 {
	font-size: 18px;		/*文字サイズ*/
}

/*listブロック（menu.html マカロンメニューページで使っています）
---------------------------------------------------------------------------*/
/*ブロック１個あたりの設定*/
#main .list {
	float: none;	/*回り込みの解除*/
	width: 60%;		/*ボックスの幅*/
	margin: 0 auto 30px;
}
/*h4タグと段落タグ。１カラムになるので、文字数により切れてしまうのを解除。*/
#main .list h4,
#main .list p {
	height: auto;
	overflow: auto;
}

/*PAGE TOP（↑）設定
---------------------------------------------------------------------------*/
/*ボタンの設定*/
body.is-fixed-pagetop .nav-fix-pos-pagetop a {
	width: 70px;		/*幅を少し小さくリサイズする*/
}

}
